body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:60px;
  font-size:36px;
}
#u0_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:964px;
  height:64px;
}
#u1 {
  position:absolute;
  left:2px;
  top:9px;
  width:956px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:174px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:20px;
  width:180px;
  height:70px;
  overflow:hidden;
  visibility:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u5_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:36px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:184px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:180px;
  height:40px;
  visibility:hidden;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:46px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:45px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:184px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:20px;
  width:180px;
  height:20px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:184px;
  height:24px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:480px;
  top:160px;
  width:200px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15_input {
  font-family:'Chalkboard';
}
#u15_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:31px;
}
#u16 {
  position:absolute;
  left:361px;
  top:165px;
  width:39px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:43px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:270px;
  top:230px;
  width:130px;
  height:15px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:134px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:480px;
  top:595px;
  width:170px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20_input {
  font-family:'Chalkboard';
}
#u20_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:176px;
  height:31px;
}
#u21 {
  position:absolute;
  left:360px;
  top:595px;
  width:100px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21_input {
  font-family:'Chalkboard';
}
#u21_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:31px;
}
#u22 {
  position:absolute;
  left:170px;
  top:100px;
  width:120px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:124px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:480px;
  top:230px;
  width:200px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24_input {
  font-family:'Chalkboard';
}
#u24_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:28px;
}
#u24_input:disabled {
  color:grayText;
}
#u25 {
  position:absolute;
  left:170px;
  top:440px;
  width:540px;
  height:100px;
}
#u25_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:544px;
  height:104px;
}
#u26 {
  position:absolute;
  left:2px;
  top:42px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:170px;
  top:362px;
  width:257px;
  height:28px;
}
#u27_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:261px;
  height:32px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:480px;
  top:478px;
  width:140px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29_input {
  font-family:'Chalkboard';
}
#u29_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
}
#u30 {
  position:absolute;
  left:185px;
  top:470px;
  width:275px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:279px;
  height:44px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:720px;
  width:960px;
  height:130px;
}
#u32_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:964px;
  height:134px;
}
#u33 {
  position:absolute;
  left:2px;
  top:57px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:710px;
  width:960px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:2px;
  width:960px;
  height:6px;
}
#u35 {
  position:absolute;
  left:403px;
  top:756px;
  width:101px;
  height:37px;
}
#u35_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:41px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:362px;
  top:650px;
  width:226px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CC0000;
  text-align:center;
}
#u37_input {
  font-family:'Chalkboard';
}
#u37_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:232px;
  height:31px;
}
#u38 {
  position:absolute;
  left:70px;
  top:180px;
  width:200px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:54px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
